[defaults]
host_key_checking = False
stdout_callback = json
callbacks_enabled = json
timeout = 15
retry_files_enabled = False

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new -o ConnectTimeout=10
